.grid-view td.actions,
.grid-view th.actions
{
    text-align: center;
}

td .table{
    margin-bottom: 0;
}

table.detail-view th {
    width: 1%;
    white-space: nowrap;
}

table.detail-view td.nested{
    padding: 0;
}

table.detail-view td.nested .table-bordered {
    border: none;
}

.sections td.section{
    vertical-align: top;
}